body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="chekcbox"] {
    cursor: pointer;
}

/* DEIXA OS CHECKBOX COM CURSOR DE ACAO */
.card-tarefa {
    cursor: pointer;
}

/* REMOVE ESTILIZACAO PADRAO DA MODAL */
.modal-header {
    background-color: white !important;
    color: black;
}

#modalCadAtv .modal-dialog {
    max-width: 65% !important;
}

[pointer] {
    cursor: pointer;
}

.corpo-tarefa {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* para permitir scroll se houver muitas tarefas */
    gap: 0.5rem; /* espaço entre os cards, opcional */
}

textarea:focus, input:focus{
    outline: none;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loader {
    font-size: 48px;
    color: #fff;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}