body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEIXA OS CHECKBOX COM CURSOR DE ACAO */
.card-tarefa { 
    cursor: pointer;
}

/* REMOVE ESTILIZACAO PADRAO DA MODAL */
.modal-header {
    background-color: white !important;
    color: black;
}

#modalCadAtv {
    max-width: 90%;
}